*{
    padding:0;
    margin:0;
}
.welcome-image{
    max-height:700px;
    filter: brightness(50%);
}
.welcome-content{
    position: absolute;
    color: #ffffff;
    padding: 20px;
    width: 50%;
    text-align: end;
    top: 50%;
    right: 0;
    padding-right: 15%;
    transform: translateY(-50%);
    bottom: initial;
}

.btn-tickets{
    background: #29A744;
    border-color: #29A744;
}

#a-ignite{
    color: black;
    text-decoration:underline dotted black;
}