*{
    padding:0;
    margin:0;
}

.card-category{
    min-height:16rem;
    border-radius: 0.1rem;
}
#cardEstudiante{
    border-color: rgb(0, 0, 231);
}
#cardTrainee{
    border-color: rgb(0, 159, 42);
}
#cardJunior{
    border-color: rgb(221, 133, 0);
}

#total{
    background-color: #cce5ff;
    border: #c2e0ff;
    height: 3.2rem;
}
#total::placeholder{
    color:#164da5;
}